# Data Preparation

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

## Load Data

In [36]:
PATH_DATA='D:/DSLS/Data Science/data/raw/'

In [45]:
data_jams=pd.read_csv(PATH_DATA+'aggregate_median_jams_Kota Bandung_fixed.csv', index_col=0)
data_irregularities=pd.read_csv(PATH_DATA+'aggregate_median_irregularities_Kota Bandung.csv', index_col=0))
data_alerts=pd.read_csv(PATH_DATA+'aggregate_alerts_Kota Bandung.csv', index_col=0))

In [56]:
data_jams.head(3)

,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,level,median_length,median_delay,median_speed_kmh,total_records,id,date,median_level,geometry
0,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Jenderal Ahmad Yani,4,428.0,201.5,6.29,14,33471439,2022-07-06,4.0,"MULTILINESTRING ((107.622869 -6.919558, 107.62..."
1,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Cibaduyut Raya,5,24.0,-1.0,0.00,60,33471432,2022-07-06,5.0,"MULTILINESTRING ((107.59526 -6.947213, 107.595..."
2,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Cidurian Selatan,2,531.0,101.5,9.07,2,33471433,2022-07-06,2.0,"LINESTRING (107.652971 -6.940132, 107.653181 -..."

In [59]:
data_jams.shape

(301995, 13)

In [60]:
data_jams.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301995 entries, 0 to 152116
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   time                       301995 non-null  object
 1   kemendagri_kabupaten_kode  301995 non-null  float64
 2   kemendagri_kabupaten_nama  301995 non-null  object
 3   street                     299552 non-null  object
 4   level                      301995 non-null  int64
 5   median_length              301995 non-null  float64
 6   median_delay               301995 non-null  float64
 7   median_speed_kmh           301995 non-null  float64
 8   total_records              301995 non-null  int64
 9   id                         301995 non-null  int64
 10  date                       301995 non-null  object
 11  median_level               301995 non-null  float64
 12  geometry                   301995 non-null  object
dtypes: float64(5), int64(3), object(5)
memory usage: 32.3+ MB

In [57]:
data_irregularities.head(3)

,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,jam_level,median_length,median_delay_seconds,median_regular_speed,total_records,cause_type,median_seconds,median_speed,date,median_jam_level,id,geometry
0,2022-07-06 07:00:00.000,32.73,KOTA BANDUNG,Terusan Buah Batu,4,1922.0,657.0,15.770000,13,NaN,844.0,7.51,2022-07-06,4.0,1492848,"MULTILINESTRING ((107.638019 -6.965016, 107.63..."
1,2022-07-06 07:00:00.000,32.73,KOTA BANDUNG,Jenderal AH Nasution,3,1819.0,421.0,17.939999,2,NaN,572.0,11.60,2022-07-06,3.0,1492844,"LINESTRING (107.678021 -6.904799, 107.677631 -..."
2,2022-07-06 07:00:00.000,32.73,KOTA BANDUNG,Jenderal AH Nasution,4,1064.0,586.0,14.520000,11,NaN,675.0,6.14,2022-07-06,4.0,1492845,"MULTILINESTRING ((107.659819 -6.902242, 107.66..."

In [61]:
data_irregularities.shape

(11281, 16)

In [62]:
data_irregularities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11281 entries, 0 to 11280
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       11281 non-null  object
 1   kemendagri_kabupaten_kode  11281 non-null  float64
 2   kemendagri_kabupaten_nama  11281 non-null  object
 3   street                     11279 non-null  object
 4   jam_level                  11281 non-null  int64
 5   median_length              11281 non-null  float64
 6   median_delay_seconds       11281 non-null  float64
 7   median_regular_speed       11281 non-null  float64
 8   total_records              11281 non-null  int64
 9   cause_type                 0 non-null      float64
 10  median_seconds             11281 non-null  float64
 11  median_speed               11281 non-null  float64
 12  date                       11281 non-null  object
 13  median_jam_level           11281 non-null  float64
 14  id                         11281 non-null  int64
 15  geometry                   11281 non-null  object
dtypes: float64(8), int64(3), object(5)
memory usage: 1.4+ MB

In [58]:
data_alerts.head(3)

,id,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,type,avg_location,total_records,date
0,5930351,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Batununggal Indah 2,WEATHERHAZARD,"[107.62634049999998, -6.962361499999998]",120,2022-07-06
1,5930352,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Cibaduyut Raya,ROAD_CLOSED,"[107.59526000000004, -6.9472129999999925]",60,2022-07-06
2,5930353,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Gerbang Tol Gede Bage,ROAD_CLOSED,"[107.69057999999981, -6.959956500000006]",120,2022-07-06

In [55]:
data_alerts.shape

(30385, 9)

In [63]:
data_alerts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30385 entries, 0 to 30384
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         30385 non-null  int64
 1   time                       30385 non-null  object
 2   kemendagri_kabupaten_kode  30385 non-null  float64
 3   kemendagri_kabupaten_nama  30385 non-null  object
 4   street                     28496 non-null  object
 5   type                       30385 non-null  object
 6   avg_location               30385 non-null  object
 7   total_records              30385 non-null  int64
 8   date                       30385 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.1+ MB

In [64]:
data_alerts.isnull().sum()

id                              0
time                            0
kemendagri_kabupaten_kode       0
kemendagri_kabupaten_nama       0
street                       1889
type                            0
avg_location                    0
total_records                   0
date                            0
dtype: int64

## Formulate Solutions

## Features